body {
    padding: 10px;
}
.listing-box {
    display: flex;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
}
.listing-image img {
    max-width: 150px;
    margin-right: 15px;
}
  
.listing-info {
    flex-grow: 1;
}